<!DOCTYPE html>
<html lang="en" ng-app="countryApp">
<head>
	<meta charset="UTF-8">
	<title>Box Fever 2048</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
  	<script src="js/app.js"></script>
  	<script src="js/paper-full.js"></script>
</head>
<body>

<div class="container" ng-view></div>

</body>
</html>