		<div class="wrapperSmallHud">
			<header class="hud">
				<a href="#/modes" class="hud__back">
					<div class="hud__back__icon">
						<img src="img/arrow.png">
					</div>
					<div class="hud__back__text">Back</div>
				</a>
				<div class="hud__logo">
					<img class="hud__logo--mid" src="img/logo.jpg" alt="logo">
				</div>
			</header>
			<section class="game">
				<div class="game__head--2">
					<div class="game__head--2__window">
						<div class="game__head__text">free play
						</div>
					</div>
					<div class="game__head--2__msg">
						<div class="game__head__text">Select in which mode you want to play</div>
					</div>
				</div>

				<div class="game__ctx">
					<div class="w--2 h--2">
						<a href="templates/game.html" class="game__ctx__btn">
							<div class="game__ctx__btn__text">
								<div class="text__heading">TIME</div>
								<div class="text__body">BEAT THE HEAT! EVERY LEVEL HAS ITS GIVEN SCORE. YOUr TASK IS TO SMASH THE RECORD</div>	
							</div>
						</a>
						<div class="game__ctx__btn">
							<div class="game__ctx__btn__text">
								<div class="text__heading">score</div>
								<div class="text__body">GET AS MANY DESIRED SHAPES AS 
								POSSIBLE IN GIVEN TIME. EVERY 
								MISTAKE DECREASE CHANCE TO PROCEED</div>	
							</div>
						</div>
					</div>	
					<div class="w--2 h--2">
						<div class="game__ctx__btn">
							<div class="game__ctx__btn__text">
								<div class="text__heading">ELIMINATION</div>
								<div class="text__body">THOSE EVIL SHAPES AIN’T BOTHER YOU NO MORE. DESTROY AS MANY DESIRED SHAPES AS YOU CAN. SMASH’EM ALL</div>	
							</div>
						</div>
						<div class="game__ctx__btn">
							<div class="game__ctx__btn__text">
								<div class="text__heading">motion </div>
								<div class="text__body">Do basically what you want. here to give you unique ability to have fun</div>	
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>