		<div class="wrapperBigHud">
			<header class="hud">
				<img class="hud__logo" src="img/logo_big.png" alt="logo">
			</header>
			<section class="game">
				
				<div class="game__head--3__window">
						<div class="game__head__text">MAIN MENU
						</div>
					</div>
					<div class="game__head--3__msg">
						<div class="game__head__text">stick with short texts</div>
					</div>
					<div class="game__head--3__select">
						<div class="game__head__text">log out
						</div>
					</div>
				</div>

				<div class="game__ctx">
				<div class="game__ctx--2">
					<div class="game__ctx__btn">
						<div class="game__ctx__btn__text">continue</div>
					</div>
					<div class="game__ctx__btn">
						<div class="game__ctx__btn__text">play!</div>
					</div>
				</div>
				<div class="game__ctx--3">
					<div class="game__ctx__btn">
						<div class="game__ctx__btn__text">settings</div>
					</div>
					<div class="game__ctx__btn">
						<div class="game__ctx__btn__text">stats</div></div>
					<div class="game__ctx__btn">
						<div class="game__ctx__btn__text">profile</div></div>
				</div>
			</div>
			</section>
		</div>