<div class="wrapperBigHud">
	<header class="hud">
		<img class="hud__logo" src="img/logo_big.png" alt="logo">
	</header>
	
	<section class="game">
		<div class="game__head--2">
			<div class="game__head--2__window">
				<div class="game__head__text">MAIN MENU
				</div>
			</div>
		<div class="game__head--2__msg">
			<div class="game__head__text">stick with short texts</div>
		</div>

		<div class="game__ctx">
			<div class="w--1 h--2">
				<a href="#/modes" class="game__ctx__btn">
					<div class="game__ctx__btn__text">play!</div>
				</a>
			</div>
			
			<div class="w--3 h--2">
				<a href="#/sett" class="game__ctx__btn">
					<div class="game__ctx__btn__text">settings</div>
					</a>
				<a href="#/stats" class="game__ctx__btn">
					<div class="game__ctx__btn__text">leaders</div></a>
				<a href="#/profile" class="game__ctx__btn">
					<div class="game__ctx__btn__text">profile</div></div>
				</a>
			</div>
		</div>	
	</section>
</div>