<div class="wrapperSmallHud">
	<header class="hud">
		<a href="#/" class="hud__back">
			<div class="hud__back__icon">
				<img src="img/arrow.png">
			</div>
			<div class="hud__back__text">Back</div>
		</a>
		
		<div class="hud__logo">
			<img class="hud__logo--mid" src="img/logo.jpg" alt="logo">
		</div>
	</header>
	
	<section class="game">
		<div class="game__head--2">
			<div class="game__head--2__window">
				<div class="game__head__text">Settings
				</div>
			</div>
		<div class="game__head--2__msg">
			<div class="game__head__text">just for some minor tweaking</div>
		</div>

		<div class="game__ctx"> 
			<div class="w--3 h--2 profile">

				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">Display</div>
					</div>
				</div>

				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">Menu</div>
					</div>
				</div>
	
				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">Sound</div>
					</div>
				</div>
			</div>	
			<div class="w--3 h--2 profile">

				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">Brightness</div>
					</div>
				</div>

				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">User</div>
					</div>
				</div>
	
				<div class="game__ctx__span">
					<div class="profile profile__row">
						<div class="text__body shame-on-you">Data</div>
					</div>
				</div>
			</div>	
	</section>
</div>